<ul class="list-group list-group-flush">
  {% for comment in comments %}
  <li class="list-group-item  d-flex justify-content-between align-items-start">
    <div class="ms-2 small text-break">{{ comment.content|urlize }}</div>
    <div class="dropdown">
      <button class="btn btn-outline-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
	<i class="bi bi-gear"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a href="{% url 'openpost:edit_comment' id=comment.id %}" class="dropdown-item small">수정</a></li>
	<li><a href="#" class="dropdown-item small" data-bs-toggle="modal" data-bs-target="#confirmRemoval" data-bs-href="{% url 'openpost:remove_comment' id=comment.id %}">삭제</a></li>
      </ul>
    </div>
  </li>
  {% empty %}
  {% endfor %}
</ul>
