{% for post in posts %}
<div class="card my-2">
  <div class="card-body">
    <h5 class="card-title d-flex justify-content-between align-items-center">
      {{ post.subject }}
      <div>
	<a href="{% url 'openpost:remove_post' id=post.id %}" class="btn btn-outline-light btn-sm" onclick="return confirm('메세지를 삭제하시겠습니까?')"><i class="bi bi-trash3"></i></a>
      </div>
    </h5>
    <p class="card-text">{{ post.content|urlize|linebreaksbr }}</p>
    {% include "./comments.html" with comments=post.comment_set.all %}
    <form action="{% url 'openpost:add_comment' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="post" value="{{ post.id }}">
      <div class="col-auto"><input type="text" class="form-control form-control-sm" name="content" placeholder="내용" pattern=".{1.50}" title="최대 50글자 입력 제한" required></div>
      <input type="submit" hidden>
    </form>
  </div>
</div>
{% empty %}
{% endfor %}
