{% for post in posts %}
<div class="card my-2">
  <div class="card-body">
    <h5 class="card-title d-flex justify-content-between align-items-center">
      {{ post.subject }}
      <div>
	<a href="{% url 'openpost:remove_post' id=post.id %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-trash3"></i></a>
      </div>
    </h5>
    <p class="card-text">{{ post.content }}</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    </div>
    {% include "./comments.html" with comments=post.comment_set.all %}
  </div>
</div>
{% empty %}
{% endfor %}
